/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #980752; /* Choose your header background color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #025c61; /* Choose your button background color */
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #850e52;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
